body {
  flex-direction: column;
  gap: 10px;
}

.name {
  padding: 10px;
}

.character {
  display: flex;
  gap: 123px;
}

form input {
  width: 200px;
  height: 30px;
  padding: 10px;
  margin-block: 10px;
}

/* Comment-section */
.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 30%;
  gap: 10px;
  padding: 20px;
  width: 40%;
  border-radius: 30px;
  box-shadow: 0 0 15px #ebe8e8;
  background-color: #eee;
}

.meal-name {
  font-weight: 600;
  font-size: 28px;
}

.comment-btn,
.add-comment-btn {
  cursor: pointer;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background-color: #a496a7;
}

.add-comment-btn {
  width: 50%;
}

.comment-btn:hover,
.add-comment-btn:hover {
  background-color: #252425;
  color: #eee;
}

.comment-btn:active,
.add-comment-btn:active {
  background-color: #3a373a;
}

.image-x button {
  position: absolute;
  right: 31%;
  align-self: flex-start;
  justify-self: flex-end;
  font-size: 33px;
  color: #252425;
  border: none;
}

.add-comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  padding: 10px;
}

.character {
  display: flex;
  gap: 100px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  .nav-bar .nav-bar-ul {
    background: rgba(33, 68, 246, 0.5);
    padding: 10px 20px;
    border-radius: 10px 20px;
  }

  .meals .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .meals .card {
    margin: auto;
  }

  .foot .container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100px;
  }
}
