html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
  display: flex;
  background-color: #2d2013;
}

.heading {
  color: #fff;
  font-size: 60px;
  text-align: center;
  margin-block: 30px;
  animation: neon 1s ease infinite;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #c52d2f;
  color: #fff;
}

img {
  width: 100%;
}

.like-icon {
  width: 20px;
  cursor: pointer;
}

button {
  padding: 10px 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background: #8a2be2;
  border: none;
  border-radius: 15px;
}

button:hover {
  transform: scale(0.9);
}

.msg {
  display: none;
  position: fixed;
  left: 70%;
  width: 200px;
  padding: 10px 10px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  z-index: 10;
}

.container {
  padding: 0 40px;
  max-width: 1440px;
  margin: 0 auto;
}

/* For the header */
.head {
  background: #23180d;
}

.logo {
  color: #fff;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.nav-bar .nav-bar-ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-bar .nav-bar-ul .nav-bar-link {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.meals {
  margin: 50px 0;
}

.meals .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.meals .card {
  max-width: 400px;
  background: #efefef;
  padding: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.meals .card h3 {
  margin-block: 10px;
  font-size: 1.5rem;
}

.meals img {
  border-radius: 5px;
  padding-right: 5px;
}

.meals .card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 5px;
}

/* For the footer */
.foot {
  background-color: #23180d;
}

.foot .container {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.popContainer {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 60px 0;
  overflow: auto;
  background: rgba(36, 36, 36, 0.9);
}

.pop {
  width: 800px;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  border-radius: 20px;
}

.popup {
  display: flex;
}

.comment-count {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.pop .title {
  margin-block: 10px;
  font-family: 'Poppins', sans-serif;
}

.pop .summary {
  margin-block: 10px;
  font-family: 'Poppins', sans-serif;
}

.commentDiv {
  height: 300px;
  overflow-y: auto;
  margin-block: 10px;
  scroll-behavior: smooth;
}

.commentDiv p {
  background: #8a2be2;
  color: #fff;
  padding: 10px 20px;
  margin-block: 10px;
  border-radius: 20px;
}

.nameField,
.commentField {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  border-radius: 20px;
  padding: 10px 15px;
  color: #242424;
  font-size: 16px;
  border: 2px solid #242424e6;
}

.nameField::placeholder,
.commentField::placeholder {
  color: #242424;
}

.closeBtn {
  width: 20px;
  margin-bottom: 10px;
  position: relative;
  left: 97%;
  cursor: pointer;
}

.addComment {
  display: inline-block;
  width: 140px;
  height: 50px;
  color: #fff;
  margin-top: 10px;
  background: #8a2be2;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 200px;
  height: 30px;
  padding: 10px;
  margin-block: 10px;
}

/* Comment-section */
.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 30%;
  gap: 10px;
  padding: 20px;
  width: 40%;
  border-radius: 30px;
  box-shadow: 0 0 15px #ebe8e8;
  background-color: #eee;
}

.meal-name {
  font-weight: 600;
  font-size: 32px;
}

.comment-btn,
.add-comment-btn {
  cursor: pointer;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background-color: #a496a7;
}

.add-comment-btn {
  width: 50%;
}

.comment-btn:hover,
.add-comment-btn:hover {
  background-color: #252425;
  color: #eee;
}

.comment-btn:active,
.add-comment-btn:active {
  background-color: #3a373a;
}

.image-x button {
  position: absolute;
  right: 31%;
  align-self: flex-start;
  justify-self: flex-end;
  font-size: 33px;
  color: #252425;
  border: none;
}

.add-comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  padding: 10px;
}

.character {
  display: grid;
  gap: 5px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  .nav-bar .nav-bar-ul {
    background: rgba(33, 68, 246, 0.5);
    padding: 10px 20px;
    border-radius: 10px 20px;
  }

  .meals .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .meals .card {
    margin: auto;
  }

  .foot .container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100px;
  }
}
